# systemd unit file for the CCastPlayer service.
# Install by copying to /etc/systemd/system/ccastplayer.service
# then enable and start the service. 
# Notify is like exec, it checks the new process has fully started,
# unlike simple which only checks that fork succeeded,
# except that notify waits for the new process to signal that it has started
# which is something that gunicorn knows how to do.
# It binds to port 5000 on all interfaces.

# --log-config /home/arb/src/cast/ccast-player/ccastplayer.logconf
# --error-logfile - --capture-output --log-level debug

[Unit]
Description=CCastPlayer

[Service]
Type=notify
ExecStart=/home/arb/src/cast/ccast-player/venv/bin/gunicorn --bind 0.0.0.0:5000 --chdir /home/arb/src/cast/ccast-player --user arb --log-config /home/arb/src/cast/ccast-player/ccastplayer.logconf --worker-class=sync --workers=1 --timeout=10800 --capture-output app:app

[Install]
WantedBy=multi-user.target
